<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='src/css/root/index.css' />
</head>
<body>
<div id="main-title" class="title">
  <h1>日誌查詢系統</h1>
</div>
</body>
<script src="src/js/root/index.js"></script>
</html>
