<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>
<link rel="stylesheet" href="src/css/style.css"/>
<link rel="stylesheet" href="src/css/root/index.css"/>
</head>
<body>
<div id="main-title" class="title">
  <h1 id="title"><%= title %></h1>
  <h2>班表: <select id="selector"><option disabled selected>--請選班表--</option></select></h2>
</div>
<div style="width:100%;overflow-x:scroll;">
  <div id="schedule" class="container">
    <table>
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</div>
</body>
<script src="src/js/root/index.js"></script>
</html>
