<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="src/css/style.css"/>
<link rel="stylesheet" href="src/css/root/manage.css"/>
<title>管理界面 YA</title>
</head>
<body>
<div class="container">
  <h1><%= title %> - 資料管理</h1>
  <h2>新增</h2>
  <form name="upload" class="container">
    <p>資料表名稱: <input type="text" name="filename" pattern="^[\u4e00-\u9fa5_a-zA-Z0-9]+$" title="只能輸入 中文、英文、數字、底線_"></p>
    <p>資料表: <input type="file" name="table"></p>
    <input type="submit" value="上傳"><input type="reset">
  </form>
  <hr>
  <h2>修改</h2>
  <form name="modify" class="container">
    <p>資料表名稱: <select name="filename"></select></p>
    <p>資料表檔案: <input type="file" name="table"></p>
    <input type="submit" value="上傳"><input type="reset">
  </form>
  <hr>
  <h2>刪除</h2>
  <form name="del" class="container">
    <p>資料表: <select name="table"></select></p>
    <input type="submit" value="確認刪除">
  </form>
</div>
<hr>
<div class="container">
  <h1>系統設定</h1>
  <h2>系統管理密碼設定</h2>
  <form method="POST" action="/passwd">
    <p>舊密碼: <input type="password" name="opwd" placeholder="舊密碼"></p>
    <p>新管理密碼: <input type="password" name="pwd" placeholder="新密碼"></p>
    <p>確認密碼: <input type="password" name="cpwd" placeholder="確認新密碼"></p>
    <input type="submit" value="修改">
  </form>
  <hr>
  <form method="POST" action="/rename">
    <p>系統名稱: <input type="text" name="name" placeholder="新名稱"></p>
    <p>管理密碼: <input type="password" name="pwd" placeholder="password"></p>
    <input type="submit">
  </form>
</div>
<hr>
<div class="container">
  <h1>授權管理</h1>
  <h2>生成新的權限金鑰</h2>
  <form name="addkey">
    <p>指定密碼: <input type="text" pattern="^[a-zA-Z0-9]+$" title="只允許英文字與數字" name="token" placeholder="密碼(非必要)"></p>
    <p>使用者: <input type="text" pattern="^[a-zA-Z0-9_]+$" title="只允取字母數字及底線" name="uid" placeholder="名稱"></p>
    <p>備註: <input type="text" name="note" placeholder="備註"></p>
    <p>存取上限(-1為無限制): <input type="number" name="limit" value="-1" placeholder="存取上限(-1為無限制)"></p>
    <h3>允許查看的資料(不選就都可以查看)</h3>
    <div class="container">
      <h4>未選取</h4>
      <ul class="ul-selector notdeny" name="ausel"></ul>
      <h4>已選取</h4>
      <ul class="ul-selector allow" name="absel"></ul>
    </div>
    <br>
    <h3>禁止查看的資料(不選擇則不會禁止)</h3>
    <div class="container">
      <h4>未選取</h4>
      <ul class="ul-selector allow" name="dusel"></ul>
      <h4>已選取</h4>
      <ul class="ul-selector deny" name="dbsel"></ul>
    </li>
    <input type="hidden" name="allow"><input type="hidden" name="deny">
    <input type="submit" value="生成金鑰">
  </form>
</div>
<div style="height:100px;"></div>
<script src="src/js/root/manage.js"></script>
</body>
</html>
