<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="src/css/style.css"/>
<link rel="stylesheet" href="src/css/root/manage.css"/>
<title>管理界面 YA</title>
</head>
<body>
<div class="container">
<h1>not finsh</h1>
</div>
</body>
</html>
