body{
  margin: 0px auto;
}

#main-title{
  color:#D3D3D3;
  background:#3C3C3C;
}
.title{
  width:100%;
  text-align:center;
  padding: 1px 0px;
}

#schedule{
  margin:50px auto;
  text-align:center;
  padding:0px;
}
table{
  //margin-left:-5%;
  width:110%;
}

thead{
  //font-size:18px;
  color:white;
  background:#3c3c3c;
}
tbody>tr>td:first-child{
  padding:0px;
  color:white;
  background:#4a4a4a;
}
tbody>tr>td{
}
table{
  font-size:18px;
}


option{
  color:black;
}
select{
  color:white;
  border:1px solid #6a6a6a;
  //color: #fff;
  //background-color: #779126;
  //-webkit-border-radius: 20px;
  //-moz-border-radius: 20px;
  //border-radius: 20px;
  //padding-left: 15px;

  //border: 0;
  //color: #EEE;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 20px 5px 20px;
  //width: 178px;
  //*width: 150px;
  *background: #58B14C;
  //-webkit-appearance: none;
}
