body{
  margin:0px auto;
  background:#dadada;
}

#title{
  margin:0px;
  width:100%;
  padding:0px 10%;
  background:#0080ff;
  width:100%;
}


.ul-selector{
  width:30%;
}

.selected{
  border:2px solid black;
}

.allow{
  color:green;
}

.notdeny{
  color:blue;
}

.deny{
  color:red;
}
